/* **********************  Gallery  ********************** */

div.photo-search {
    width: 90%;
    padding: 12px 12px 2px 12px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

div.photo-search input {
    background-image: url('/theme/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 12px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}


div.photo-gallery {
    border: 1px solid #ccc;
    height: 350px;
    border-radius: 15px;
    margin-top: 10px;
}


div.photo-gallery:hover {
    border: 1px solid #7a1616;
    height: 350px;
    border-radius: 15px;
    background-color: #ddd;
}

div.photo-gallery-image a img {
    margin-top: 0.5em;
    border: 0px;
    margin: auto;
    width: 85.5%;
    max-height: 200px;
    object-fit: contain;
    position: relative;
    z-index: 0;
    top: -15px;
}

div.photo-gallery-image a:hover img {
    margin-top: 0.5em;
    border: 0px;
    margin: auto;
    width: 82.5%;
    max-height: 200px;
    object-fit: contain;
    position: relative;
    z-index: 0;
    top: -15px;
}

div.photo-gallery-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10px;
    top: 10px;
    padding-bottom: 60px;
    padding: 0.5em;
    width: 230px;
    height: auto;
    min-height: 280px;
}

div.photo-gallery-image::after {
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background-image: url('/images/retro-computer4-tb.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1.0;
    pointer-events: none;
    z-index: 1;
}

div.photo-gallery-image a {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

div.photo-link {
    padding: 0;
    margin-top: 10px;
    margin-bottom: -30px;
    text-align: center;
    position: relative;
    z-index: 2;
    order: -1;
}

div.photo-link a {
    padding: 0;
    margin-top: 0px;
    text-decoration: none;
}

div.photo-desc {
    padding: 0.0em;
    margin-left: 1.6em;
    margin-right: 1.6em;
    margin-top: -20px;
    text-align: justify;
    font-size: 0.8em;
    line-height: 1.5em;
    position: relative;
    z-index: 2;
    order: 1;
}

.gallery-caption {
    color: #666;
}