#header {
    padding-top: 40px !important;
    background: var(--_body-bg);
    max-height: none;
}

.header-banner {
    position: relative;
    display: block;
    height: 250px;
    width: 100%;
    align-items: right;
    overflow: hidden;
}

.header-banner img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

:root .entry-meta {
    width: var(--_side-nav-w);
}

:root #contents {
    max-width: var(--_wrapper-size);
    margin-inline: auto;
    padding-top: calc(var(--_disc-w)*.3);
    border-left: none;
}

:root #floppy {
    display: block;
    position: absolute;
    width: clamp(150px, 15%, 400px);
    aspect-ratio: 1 / 1;
    top: 20px;
    left: 10%;
    object-fit: contain;
    z-index: 11;
}