/* ********************** ONLY MOBILE ********************** */

@media (max-width: 61.1875rem)
/* up to 979px */
    {

    body {
        --_disc-w: 110vw;
        --_menu-h: 4.4rem;
    }

    #menu {
        height: var(--_menu-h);
    }

    :root #floppy {
        transform: translate(0, -30%);
        left: calc(var(--_content-space-x));
    }

    .post {
        display: block;
    }

    .hentry .entry-meta {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        box-sizing: border-box;
        background-color: var(--_body-bg);
        padding-inline: var(--_content-space-x);
        justify-content: flex-start;
        text-align: left;
        gap: 0 2rem;
        top: calc(var(--_menu-h) - 1px);
        border-bottom: 1px solid #ddd;
        padding-block: 1.2rem;
    }

    .hentry .entry-meta .date {
        width: 100%;
    }

    .post .main {
        border-left: none;
    }


}

/* ********************** ONLY MOBILE ********************** */

@media (max-width: 47.9375rem)
/* up to 767px */
    {

    body {
        --_disc-w: 10px;
        --_menu-h: 2rem;
    }

    iframe {
        width: 100%;
        height: auto;
    }

    :root #floppy {
        transform: translate(0%, -90%);
        width: 70px;
    }

    .header-banner {
        position: relative;
        display: block;
        min-height: 0px;
        height: 40px;
    }

    .header-banner::before {
        content: "";
        display: block;
        height: 0;
        /* padding-bottom: 17.1875%; */
    }

    .header-banner img {
        position: relative;
        top: -90px;
        left: 0;
        width: 100%;
        height: 200%;
        object-fit: cover;
    }

    #menu {
        display: block;
        align-items: flex-start;
        box-sizing: border-box;
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        margin-bottom: 0;
        height: 40px;
        position: relative;
    }

    #menu a {
        display: inline-block;
        padding: 0.8em 5px;
        width: 100%;
        font-size: 12px;
        line-height: 1;
    }

    #menu-navigation {
        text-align: left;
        white-space: nowrap;
        display: flex;
        align-items: flex-start;
    }

    .entry-title {
        color: #666;
        font-family: 'Oswald', Helvetica, Arial, sans-serif;
        font-size: 15px;
        line-height: 0px;
        margin: -10px 0px 25px 0px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
    }

    pre * {
        max-width: 100%;
        overflow: auto;
        word-break: break-word;
    }

    .hentry .entry-meta {
        position: sticky;
        top: 0;
        transition: opacity 0.3s ease;
        opacity: 1;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        box-sizing: border-box;
        background-color: var(--_body-bg);
        padding-inline: var(--_content-space-x);
        justify-content: flex-start;
        text-align: left;
        gap: 0 2rem;
        top: calc(var(--_menu-h) - 1px);
        border-bottom: 1px solid #ddd;
        padding-block: 0.0rem;
    }

    body:has(.hentry .entry-meta:target) .hentry .entry-meta {
        opacity: 0;
    }

    .hentry .entry-meta .date {
        font-size: 18px;
        height: 0px;
    }

    .hentry .entry-meta .cat-links,
    .entry-meta .byline {
        font-size: 11px;
        margin-top: 0px;
        height: 0px;
    }

    div.photo-search {
        width: 100%;
        padding: 10px 14px 0px 12px;
        border: 1px solid #ddd;
        border-radius: 15px;
    }

    div.photo-search input {
        background-image: url('/theme/searchicon.png');
        background-position: 4px 6px;
        background-repeat: no-repeat;
        background-size: 14px;
        width: 100%;
        font-size: 12px;
        padding: 6px 6px 10px 20px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    div.photo-gallery {
        border: 1px solid #ccc;
        height: 300px;
        border-radius: 15px;
        margin-top: 5px;
        text-align: center;
        line-height: 300%;
    }

    div.photo-gallery-image a img {
        margin-top: 0.5em;
        border: 0px;
        margin-top: 15px;
        width: 85%;
    }

    div.photo-gallery-image a:hover img {
        margin-top: 0.5em;
        border: 0px;
        margin-top: 15px;
        width: 85%;
    }

    div.photo-gallery-image {
        position: relative;
        display: inline-block;
        align-items: center;
        align-content: center;
        top: 10px;
        left: 0px;
        padding-bottom: 60px;
        padding: 0.5em;
        width: 230px;
        height: auto;
        justify-content: center;
        align-items: center;
    }

}
