.retro-computer {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: calc(var(--_content-space-x)* -1);
    width: calc(100% + calc(var(--_content-space-x)* 2));
    overflow: hidden;
}

.retro-computer::before {
    content: "";
    display: block;
    height: 0;
    padding-bottom: 100%;
}

.retro-computer__holder {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
}

.retro-computer__holder::before {
    content: "";
    position: absolute;
    background-image: url(../../images/retro-computer3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
    pointer-events: none;
    inset: 0;
}

.retro-computer__holder::after {
    content: "";
    position: absolute;
    background-color: white;
    inset: 6rem 6rem 10rem;
    z-index: -1;
}

.retro-computer iframe {
    margin-top: -5%;
    margin-left: 150px;
}