:root .entry-meta {
    width: var(--_side-nav-w);
}

:root #contents {
    max-width: var(--_wrapper-size);
    margin-inline: auto;
    padding-top: calc(var(--_disc-w)*.3);
    border-left: none;
}

:root #floppy {
    left: calc(var(--_side-nav-w) + var(--_content-space-x));
    transform: translate(-50%, -50%);
    max-height: none;
    max-width: none;
    width: min(var(--_disc-w), 18rem);
    top: 100%;
    bottom: auto;
    /* box-shadow: 0 -20px 30px -10px #0000009c; */
    z-index: 11;
}