/* summary */
div.summary {
    border: 1px solid #ccc;
    height: 130px;
    width: 100%;
    border-radius: 15px;
    margin-top: 2px;
}


div.summary a {
    padding: 0;
    margin-top: 0;
    text-decoration: none;
}

div.summary a img {
    border: none;
    padding: 0.5em;
    width: 150px;
    height: auto;
    display: inline;
    float: left;
    margin: 1px 0 1ex 1ex;
}

div.summary a:hover img {
    border: none;
}

div.summary-text {
    padding: 5px;
    margin-left: 10px;
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.4;
    color: #2d2d2d;
    font-family: 'SourceSansPro', 'SourceSans3', 'Lato', 'DM Serif Text', 'dmserif-css', 'Courier New', Courier, monospace;
}