.tag-links {
    display: block;
    text-align: left;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    overflow: hidden;
}

.tag-links a {
    text-decoration: none;
}

.tag-links :hover {
    text-decoration: underline;
}

.tag-links strong {
    text-align: left;
    background: #eee;
    border-radius: 3px;
    color: #666;
    font-weight: normal;
    font-size: 12px;
    margin-right: 4px;
    padding: 3px 6px;
}