/* =Widgets
----------------------------------------------- */
#widgets {
    border-top: 1px solid #ccc;
    margin: 30px 0 0 0;
    padding: 30px 0 0 0;
    text-align: left;
}

.widget-title {
    color: #555;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0 0 12px 0;
    text-transform: uppercase;
}

.widget-title a {
    color: #000;
    text-decoration: none;
}

#widgets .widget-area {
    width: 100%;
}

#widgets .widget {
    float: left;
    padding: 12px;
    width: 30%;
}

.widget {
    font-size: 12px;
    line-height: 20px;
    margin: 0 0 30px 0;
}

#widgets .widget:nth-child(3n+1) {
    clear: left;
}

.widget ul {
    margin: 0;
    padding-left: 20px;
}

/* Calendar Widget */
.widget_calendar #wp-calendar {
    color: #555;
    text-align: center;
    width: 100%;
}

.widget_calendar #wp-calendar caption,
.widget_calendar #wp-calendar td,
.widget_calendar #wp-calendar th {
    text-align: center;
}

.widget_calendar #wp-calendar caption {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 3px 0;
    text-transform: uppercase;
}

.widget_calendar #wp-calendar th {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    color: #000;
    font-weight: bold;
}

.widget_calendar #wp-calendar tfoot td {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

/* Recent Comments Widget */
.widget_recent_comments .avatar {
    max-width: none;
}

.widget_recent_comments td.recentcommentstexttop,
.widget_recent_comments td.recentcommentstextend {
    vertical-align: top;
}

.widget_recent_comments td.recentcommentstextend {
    line-height: 1.1em;
}

/* Authors Widget */
.widget_authors ul {
    list-style-type: none;
    padding-left: 0;
}

.widget_authors img {
    vertical-align: middle;
}

.widget_authors img+strong {
    font-weight: normal;
    margin-left: 8px;
}

.widget_authors a:hover {
    text-decoration: none;
}

/* Flickr Widget (WP.com) */
#flickr_badge_uber_wrapper a {
    color: #eb374b !important;
    text-decoration: underline !important;
}

#flickr_badge_uber_wrapper a:hover {
    color: #05b2c2 !important;
}

.widget_flickr #flickr_badge_wrapper {
    background-color: transparent !important;
    border: none !important;
}

.widget_flickr table {
    margin: 0 !important;
}

.widget_flickr .flickr-size-thumbnail {
    margin: 0 auto;
}

.widget_flickr .flickr-size-thumbnail br,
.widget_flickr .flickr-size-small br {
    display: none;
}

.widget_flickr .flickr-size-thumbnail img {
    display: block;
    margin-bottom: 10px;
}

.widget_flickr .flickr-size-small img {
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
}

/* Authors Widget */
.widget_author_grid ul,
.widget_authors ul {
    list-style: none;
    margin: 0;
}

/* Twitter Widget */
.widget .tweets li {
    margin: 0 0 10px 0;
}

/* Cloud Widgets */
.wp_widget_tag_cloud div,
.widget_tag_cloud div {
    word-wrap: break-word;
}

/* RSS Widgets */
.widget_rss li {
    margin: 0 0 10px 0;
}

.widget_rss_links p img {
    margin-bottom: 0;
    vertical-align: middle;
}