@font-face {
    font-family: 'Oswald';
    src: local('☺'), url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: local('☺'), url('../fonts/Oswald/Oswald-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: local('☺'), url('../fonts/Oswald/Oswald-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: local('☺'), url('../fonts/Oswald/Oswald-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Lato';
    src: local('☺'), url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('☺'), url('../fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('☺'), url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('☺'), url('../fonts/Lato/Oswald-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'SourceSans3';
    src: local('☺'), url('../fonts/SourceSans3/SourceSans3-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSans3';
    src: local('☺'), url('../fonts/SourceSans3/SourceSans3-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSans3';
    src: local('☺'), url('../fonts/SourceSans3/SourceSans3-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSans3';
    src: local('☺'), url('../fonts/SourceSans3/Oswald-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'SourceSansPro';
    src: local('☺'), url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro';
    src: local('☺'), url('../fonts/SourceSansPro/SourceSansPro-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro';
    src: local('☺'), url('../fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro';
    src: local('☺'), url('../fonts/SourceSansPro/Oswald-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}