<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
	{% block head %}
	<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<link rel="icon" href="{{ SITEURL }}/theme/favicon-32x32.png" />
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
	<!-- <link rel='stylesheet' id='oswald-css' href='https://fonts.googleapis.com/css?family=Oswald&#038;ver=3.3.2' type='text/css' media='all' /> -->
	<!-- <link rel='stylesheet' id='oswald-css' href="{{ SITEURL }}/theme/css/Oswald.woff2" rel="stylesheet" /> -->

	<!-- <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> -->
	<!-- <link href="{{ SITEURL }}/theme/css/Lato.woff2" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/css/Roboto.woff2" rel="stylesheet"> -->

	<!-- Cloudflare Web Analytics -->
	<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "4ba3ec2077184e188391a767006c602b"}'></script>
	<!-- End Cloudflare Web Analytics -->

	<style type="text/css">
		body.custom-background {
			background-color: #f5f5f5;
			background-image: "{{ SITEURL }}/theme/back3.png";
		}

		#floppy {
			position: absolute;
			left: 50px;
			top: 10px;
			display: block;
			max-width: 400px;
			max-height: 400px;
			width: auto;
			height: auto;
		}
	</style>
	<link rel="alternate" type="application/atom+xml" title="{{ SITENAME }} — Flux Atom" href="{{ SITEURL }}/{{ FEED }}" />
	{% if FEED_RSS %}
	<link rel="alternate" type="application/rss+xml" title="{{ SITENAME }} — Flux RSS" href="{{ SITEURL }}/{{ FEED_RSS }}" />
	{% endif %}
	<!--[if lte IE 8]><script src="{{ SITEURL }}/theme/js/html5shiv.js"></script><![endif]-->
	{% if MINT %}
	<script src="/mint/?js" type="text/javascript"></script>
	{% endif %}

	<script>
		function localSearch() {
			// Declare variables
			var input, filter, virusdesc, viruslink, txt, i, txtValue;
			input = document.getElementById('searchInput');
			filter = input.value.toUpperCase();
			virusdesc = document.getElementsByClassName("photo-desc");
			viruscard = document.getElementsByClassName('photo-gallery');
			virustitle = document.getElementsByClassName('photo-link')

			// Loop through all list items, and hide those who don't match the search query
			for (i = 0; i < viruscard.length; i++) {
				txtValue = virusdesc[i].textContent;
				linkValue = virustitle[i].getElementsByTagName("a")[0].textContent;
				if (txtValue.toUpperCase().indexOf(filter) > -1 || linkValue.toUpperCase().indexOf(filter) > -1) {
					viruscard[i].style.display = "";
				} else {
					viruscard[i].style.display = "none";
				}
			}
		}
	</script>

	<script>
		function statusSearch() {
			// Declare variables
			var input, filter, virusdesc, viruslink, txt, i, txtValue;
			input = document.getElementById('searchInput');
			filter = input.value.toUpperCase();
			virusRows = document.getElementsByTagName("tr");

			// Loop through all list items, and hide those who don't match the search query
			for (i = 1; i < virusRows.length; i++) {
				linkValue = virusRows[i].getElementsByTagName("a")[0].innerText;
				otherNameValue = virusRows[i].getElementsByTagName("td")[2].innerText

				if (linkValue.toUpperCase().indexOf(filter) > -1 | otherNameValue.toUpperCase().indexOf(filter) > -1) {
					virusRows[i].style.display = "";
				} else {
					virusRows[i].style.display = "none";
				}
			}
		}
	</script>

	{% endblock head %}
</head>

<body class="home blog custom-background {% if SINGLE_AUTHOR %}single-author{% endif %}">
	<div id="container">
		<div id="header">
			<!-- <h1 id="site-title"><a href="">Retrovirology</a></h1> -->
			<picture class="header-banner">
				<a href="/"><img src="/theme/back-devpac.png" width="100%"></a>
			</picture>
			<a href="/"><img src="/theme/disk.png" id="floppy" /></a>
		</div><!-- /#banner -->

		<nav id="menu">
			<h2 class="hidden">Navigation</h2>
			<div class="menu-navigation-container">
				<ul id="menu-navigation" class="menu">
					{% for title, link in MENUITEMS %}
					<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ link }}">{{ title }}</a></li>
					{% endfor %}
					{% for p in PAGES %}
					<li{% if p==page %} class="active" {% endif %} class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
						{% endfor %}
						{% if DISPLAY_CATEGORIES_ON_MENU %}
						{% for cat, null in categories %}
						<li{% if cat==category %} class="active" {% endif %} class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
							{% endfor %}
							{% endif %}
							{% if LINKS %}
							{% for name, url in SORTED_LINKS %}
							<li class="active" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ url }}">{{ name[3:] }}</a></li>
							{% endfor %}
							{% endif %}

				</ul>
			</div> <!--/#menu-navigation-container-->
		</nav>
	</div><!-- /#menu -->

	<div class="page-title">
		{% block content_title %}{% endblock %}
	</div>

	<div id="contents">
		{% block content %}
		{% endblock %}
	</div>

	<footer>
		<div class="footer-content">
			<a href="https://youtu.be/_2qofl5LGg8" target="_blank" class="footer-logo-link">
				<img src="{{ SITEURL }}/theme/cookies.png" alt="Logo" class="footer-logo" id="cookieimage">
			</a>
			<hr class="footer-line">
			<div class="footer-text">
				<span class="footer-powered">{{ FOOTER_TEXT }} <a href="http://getpelican.com">Pelican</a></span>
				<span class="footer-theme">Theme by BunnyMan, slightly modified by Mica and Shazz</span>
			</div>
		</div>
	</footer>

	<script>
		const cookiesImg = document.getElementById('cookieimage');
		cookiesImg.addEventListener('mouseover', function () {
			cookiesImg.src = "{{ SITEURL }}/theme/cookies_hover.png";
		});

		cookiesImg.addEventListener('mouseout', function () {
			cookiesImg.src = "{{ SITEURL }}/theme/cookies.png";
		});
	</script>

	</div><!-- /#container -->
	<div style="display:none"></div>
</body>

</html>