{% if DEFAULT_PAGINATION %}
<div class="navigation">

	<div class="nav">
		{% if articles_page.has_previous() or articles_page.has_next() %}
		Go to
		{% endif %}
		{% if articles_page.has_previous() %}
		{% if articles_page.previous_page_number() == 1 %}
		<a href="{{ SITEURL }}/{{ page_name }}.html">newer posts</a>
		{% else %}
		<a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">newer posts</a>
		{% endif %}
		{% endif %}

		{% if articles_page.has_previous() and articles_page.has_next() %}
		or
		{% endif %}

		{% if articles_page.has_next() %}
		<a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">older posts</a>
		{% endif %}
	</div>
</div>
{% endif %}